In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [2]:
df = pd.read_csv("Actions.csv")
df.head()

,Unnamed: 0,Date,StockCode,StockName,Value,ValueFormatted,ChangeDay,ChangeDayFormatted,Change12M,Change12MFormatted,Volume,VolumeFormatted
0,0,2025-07-21T17:07:00,VALE3,VALE ON NM,56.05,"56,05",2.73094,"2,73",-1.03608,"-1,03",2.133133e+09,"2,13 B"
1,1,2025-07-21T17:07:00,BBAS3,BRASIL ON NM,19.86,"19,86",-1.97433,"-1,97",-20.79287,"-20,79",7.784567e+08,"778,46 M"
2,2,2025-07-21T17:07:00,PETR4,PETROBRAS PN N2,31.05,"31,05",0.19361,"0,19",-6.77803,"-6,77",4.379988e+08,438 M
3,3,2025-07-21T17:07:00,BBDC4,BRADESCO PN N1,15.68,"15,68",0.06382,"0,06",36.20452,"36,20",3.758859e+08,"375,89 M"
4,4,2025-07-21T17:07:00,EMBR3,EMBRAER ON NM,68.12,"68,12",-0.26354,"-0,26",64.23441,"64,23",3.426963e+08,"342,7 M"

In [3]:
df.isna().sum()

Unnamed: 0            0
Date                  0
StockCode             0
StockName             0
Value                 0
ValueFormatted        0
ChangeDay             0
ChangeDayFormatted    0
Change12M             1
Change12MFormatted    1
Volume                0
VolumeFormatted       0
dtype: int64

In [8]:
df.duplicated(["StockCode"]).sum()

np.int64(0)

In [6]:
df.shape

(352, 12)